/* Variables */
:root{
    /* Colors */
    --white: hsl(0, 0%, 100%);
    --lightGray: hsl(212, 45%, 89%);
    --grayishBlue: hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%);
    
    /* Fonts Family */
    --f-outifit: 'Outfit', sans-serif;
}

html{
    font-size: 62.5%;
    background-color: var(--lightGray);
}

/* Desktop: 1440px */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: auto;
    margin-top: 50px;
    padding: 15px;
    background-color: var(--white);
    border-radius: 20px;
}

.qrcode{
    border-radius: 10px;
    margin-bottom: 15px;
}

.improve, .scan{
    text-align: center;
    padding: 10px 10px;
    font-family: var(--f-outifit);
}
.improve{
    color: var(--darkBlue);
    font-size: 20px;
}
.scan{
    color: var(--grayishBlue);
    font-size: 15px;
}

.footer{
    font-size: 1.4rem;
    text-align: center;
    margin: 3rem 0 3rem 0;
    color: var(--grayishBlue);
    font-family: var(--f-outifit);
}
.footer a{
    color: var(--darkBlue);
}