/* Variables */
:root{
    /* Colors */
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);

    /* Font Family */
    --f-league-spartan: 'League Spartan', sans-serif;
}

/* Utilities */
html{
    font-size: 62.5%;
    background-image: url(../../images/bg-pattern-bottom-desktop.svg) ,
                      url(../../images/bg-pattern-top-desktop.svg);
    background-repeat: no-repeat no-repeat;
    background-position: right, left;
    font-family: var(--f-league-spartan);
}

/* Desktop 1440px */
body{
    display: grid;
    grid: "content stars"
          "reviews reviews";
    grid-template-columns: 2fr 1fr;
    padding: 0 13rem;
    position: relative;
}

.content{
    grid-area: content; 
    grid-column-gap: 2rem;
}
.content .users{
    color: var(--very-dark-magenta);
    font-size: 5rem;
    padding-bottom: 2rem;
    padding-top: 6rem;
}
.content .description{
    color: var(--dark-grayish-magenta);
    font-size: 1.7rem;
    padding-bottom: 4rem;
    line-height: 2.9rem;
}

.stars{
    grid-area: stars;
    padding-top: 7rem;
}
.stars p{
    color: var(--very-dark-magenta);
    font-size: 2rem;
    margin: 10px;
    background-color: var(--light-grayish-magenta);
    width: 400px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.stars .star2{
    margin-left: 40px;
}
.stars .star3{
    margin-left: 80px;
}


.reviews{
    grid-area: reviews;
    display: flex;
    align-content: space-evenly;
}
.reviews .review{
    background-color: var(--very-dark-magenta);
    margin-right: 20px;
    padding: 3rem;
    border-radius: 0.5rem;
}

.person{
    display: flex;
    align-items: center;
}
.person img{
    border-radius: 50%;
}

.name{
    padding-left: 2rem;
}
.review p{
    padding-top: 2rem;
    color: var(--light-grayish-magenta);
    font-size: 1.5rem;
    line-height: 1.9rem;
}
.name h2{
    color: var(--light-grayish-magenta)
}
.name h3{
    color: var(--soft-pink);
    line-height: 2rem;
}