body{
    display: grid;
    grid: "foto product";
    justify-content: center;
    margin-top: 60px;
}
.foto img{
    grid-area: foto;
    width: 300px;
    border-radius: 10px 0 0 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
.product{
    grid-area: product;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;
    border-radius: 0 10px 10px 0;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.product .category{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 3px;
    padding-bottom: 15px;
    padding-top: 30px;
    padding-left: 30px;
    color: hsl(228, 12%, 48%);
}

.product .name{
    font-family: 'Fraunces', serif;
    padding-bottom: 30px;
    padding-left: 30px;
    line-height: 35px;
}

.product .description{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 30px;
    padding-left: 30px;
    color: hsl(228, 12%, 48%);
    line-height: 25px;
}

.price{
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.price .current-price{
    font-family: 'Fraunces', serif;
    font-size: 30px;
    padding-right: 20px;
    color: hsl(158, 36%, 37%);
}
.price .former-price{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}

.product .add-to-cart{
    padding-left: 0;
    margin-left: 0;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    background-color: hsl(158, 36%, 37%);
    margin: 20px 30px;   
    padding: 15px;
    border-radius: 10px;
}

.product .add-to-cart:hover{
    background-color: hsl(157, 37%, 19%);
}

.product .add-to-cart i{
    padding-right: 10px;
    font-size: 14px;
}

@media (max-width:600px) {
    body{
        grid: 
        "foto" 
        "product";
        margin: 10px;
    }
    .foto img{
        border-radius: 10px 10px 0 0;
    }
    .product{
        border-radius: 0 0 10px 10px;
        height: 400px;
    }
    .product .category{
        padding-bottom: 5px;
        padding-top: 20px;
    }
    
    .product .name{
        padding-bottom: 20px;
    }
    
    .product .description{
        padding-bottom: 20px;
        line-height: 20px;
    }
    
    .product .add-to-cart{
        margin: 20px 30px;   
        padding: 15px;
        border-radius: 10px;
    }
}