.product{
    display: grid;
    grid: "sedans suvs luxury";
    max-width: 150vh;
    min-height: 85vh;
    padding-top: 60px;
    margin: auto;
}

.product .sedans,
.product .suvs,
.product .luxury{
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.icon{
    padding-bottom: 25px;
    width: 60px;
}

.name{
    padding-bottom: 25px;
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 35px;
}

.description{
    padding-bottom: 55px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 14px;
    line-height: 25px;
}

.learn-more{
    background-color: hsl(0, 0%, 95%);
    text-align: center;
    margin-top: auto;
    width: 140px;
    height: 40px;
    border-radius: 20px;
    padding-top: 10px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}

.product .sedans{
    grid-area: sedans;
    background-color: hsl(31, 77%, 52%);
    border-radius: 5px 0 0 5px;
}
.product .suvs{
    grid-area: suvs;
    background-color: hsl(184, 100%, 22%);
}
.product .luxury{
    grid-area: luxury;
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 5px 5px 0;
}

.sedans .learn-more{
    color: hsl(31, 77%, 52%);
}
.suvs .learn-more{
    color: hsl(184, 100%, 22%);
}
.luxury .learn-more{
    color: hsl(179, 100%, 13%);
}

.learn-more:hover{
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
    padding-top: 8px;
}

.sedans .learn-more:hover{
    background-color: hsl(31, 77%, 52%);
}
.suvs .learn-more:hover{
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
}
.luxury .learn-more:hover{
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
}

@media (max-width:425px) {
    .product{
        padding-top: 0;
        padding-bottom: 0;
        display: grid;
        grid: "sedans" "suvs" "luxury";
    }
}