/*Variables*/
:root{
    /*Colors*/
    --veryDarkBlue: hsl(233, 47%, 7%); /*Main*/
    --darkDesaturatedBlue: hsl(244, 38%, 16%); /*Card*/
    --softViolet: hsl(277, 64%, 61%); /*Accent*/

    --white: hsl(0, 0%, 100%); /* Heading, stats*/
    --transparentWhite: hsla(0, 0%, 100%, 0.75); /* Paragraph*/
    -slightly: hsla(0, 0%, 100%, 0.6); /* Stat headings*/

    /*Fonts-Family*/
    --f-Inter: 'Inter', sans-serif;
    --f-LexendDeca: 'Lexend Deca', sans-serif;
}

/* Utilities */

html{
    font-size: 62.5%;
}

/* Mobile 375px */

body{
    background-color: var(--veryDarkBlue);
    font-family: var(--f-Inter);
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card{
    background: var(--darkDesaturatedBlue);
    min-height: 100vh;
    border-radius: 1rem;
    overflow: hidden;
    width: 327px;
    height: 780px;
    margin: 8.8rem 2rem 3rem;
}

/* Img */
.img{
    width: 100%;
    height: 34vh;
    background-image: url(../../images/image-header-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.img-shadow{
    width: 100%;
    height: 100%;
    background-color: rgba(96, 22, 142, 0.5);
}


/* Description */
.card-description-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

.card-title{
    color: var(--white);
    font-size: 3rem;
    padding: 2.3rem 0;
} 

.card-title span{
    color: var(--softViolet);
}
.card-paragraph{
    color: var(--transparentWhite);
    line-height: 2.4rem;
    letter-spacing: 0.1rem;
}

/* Stats */
.stats-number{
    color: var(--white);
    padding-top: 2rem;
    font-size: 2.7rem;
    text-transform: uppercase;
}

.stat-paragraph{
    color: var(--transparentWhite);
    padding-top: 0.6rem;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

/* Footer */
.footer{
    font-size: 1.4rem;
    text-align: center;
    margin: 3rem 0 3rem 0;
    color: var(--white);
}
.footer a{
    color: hsl(228, 45%, 44%);
}

/* Desktop 1440px */

@media screen and (min-width: 1015px) {
    .card{
        min-height: 0;
        width: 998px;
        height: 400px;
        display: flex;
        flex-direction: row-reverse;
    }
    .card-img{
        width: 486px;
        height: 400px;
    }
    .img{
        width: 486px;
        height: 400px;
    }
    .card-description-container{
        text-align: left;
        padding: 0;
        margin: 8rem;
    }
    .card-title{
        font-size: 3.2rem;
    }
    .card-paragraph{
        font-size: 1.2rem;
        padding-right: 2rem;
    }
    .card-stats{
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-right: 2rem;
    }
    .stats-number{
        padding-top: 5rem;
        font-size: 2rem;
    }
    .stat-paragraph{
        font-size: 1rem;
        padding-top: 0.6rem;
        color: var(--transparentWhite);
        text-transform: uppercase;
        letter-spacing: 0.2rem;
    }
    .card-stat{
        display: flex;
        flex-direction: column;
    }
}