/*Variables*/
:root{
    /*Colors*/
    --veryDarkBlue: hsl(233, 47%, 7%); /*Main*/
    --darkDesaturatedBlue: hsl(244, 38%, 16%); /*Card*/
    --softViolet: hsl(277, 64%, 61%); /*Accent*/

    --white: hsl(0, 0%, 100%); /* Heading, stats*/
    --transparentWhite: hsla(0, 0%, 100%, 0.75); /* Paragraph*/
    -slightly: hsla(0, 0%, 100%, 0.6); /* Stat headings*/

    /*Fonts-Family*/
    --f-Inter: 'Inter', sans-serif;
    --f-LexendDeca: 'Lexend Deca', sans-serif;
}

/* Utilities */

body{
    display: grid;
    grid: "main picture";
    grid-template-columns: 1fr 1fr;
    margin: auto;
    padding-top: 10vh;
    background-color: hsl(233, 47%, 7%);
    max-width: 150vh;
}

.color{
    background: hsl(277, 100%, 50%);
    width: 470px;
    height: 391px;
    opacity: 0.2;
    position: absolute;
    z-index: 99;
}
picture{
    grid-area: picture;
    max-width: 150vh;
}

main{
    grid-area: main;
    background-color: hsl(244, 38%, 16%);
    justify-content: center;
    padding: 10vh;
}


h1{
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    padding-bottom: 5vh;
} 

.stats{
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
}
.stats ul, .statheadings ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.statheadings{
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', sans-serif;
}

span{
    color: hsl(277, 64%, 61%);
}

.mainparagraph{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Inter', sans-serif;
    padding-bottom: 5vh;
}